# required
SECRET_KEY = 'some rando string'

## optional config options:
# source code url, defaults to https://github.com/invisiblek/simple_lineage_updater
#SOURCE_URL = ''

# page banner
# page banner string, defaults to "welcome to the updater server"
#PAGE_BANNER = ''

# api key to be used for adding roms via an endpoint. possibly used for other things in the future
# if omitted, the endpoint will be disabled (return a 403)
API_KEY = 'some rando string'

# name of the sqlite3 database
DB_NAME = 'updater.db'
