{% extends 'base.html' %}

{% block content %}
<h1>{{ device.oem }} {{ device.name }} ({{ device.model }})</h1>
  <table class="roms">
    {% for r in roms %}
    <tr>
      <td><a href="{{ r.url }}">{{ r.filename }}</a></td>
      <td>{{ r.datetime|datetimefromtimestamp }} </td>
      <td>{{ (r.romsize/(1024*1024))|round(2) }} MB</td>
    </tr>
    {% endfor %}
  </table>
</table>
{% if recovery.url %}
<br/>
Recovery image for flashing: <a href="{{ recovery.url }}">download</a>
{% endif %}
{% endblock %}
