{% extends 'base.html' %}

{% block content %}
<h1>{{ constants['page_banner'] }}</h1>
<table class="main">
  <tr>
    <th>roms by device</th>
    <th> most recent roms</th>
  </tr>
  <tr>
    <td>
      <table class="roms">
        {% for d in devices %}
        <tr>
          <td><a href="/{{ d.model }}">{{ d.model }}</a></td>
          <td>{{ d.oem }} {{ d.name }}</td>
          <td><a href="{{ latest[d.model] }}">(latest)</td>
        </tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table class="recent">
        {% for r in roms %}
        <tr>
          <td><a href="{{ r.url }}">{{ r.filename }}</a></td>
          <td>{{ r.datetime|datetimefromtimestamp }} </td>
          <td>{{ (r.romsize/(1024*1024))|round(2) }} MB</td>
        </tr>
        {% endfor %}
      </table>
    </td>
  </tr>
</table>

{% endblock %}
